.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: max-content;
}
.getFiltersBtn {
    margin-top: 200px;
}

table {
    margin-top: 150px;
    border: 1px solid gray;
}

th {
    border: 1px solid grey;
}

td {
    border: 1px solid grey;
}