<form id="postForm" action="/index/createDoc" method="post">
    {% for field in formArray %}
    {{ field|raw }}
    {% endfor %}
    <button type="submit">Получить выгрузку</button>
</form>
<script>
    jQuery.datetimepicker.setLocale('ru');
    $.datetimepicker.setDateFormatter({
        parseDate: function (date, format) {
            let d = moment(date, format);
            return d.isValid() ? d.toDate() : false;
        },
        formatDate: function (date, format) {
            return moment(date).format(format);
        },
    });
    $('.has_datetimepicker').datetimepicker({
        format:'DD.MM.YYYY HH:mm',
        formatTime:'HH:mm',
        formatDate:'DD.MM.YYYY'
    })

    $('#postForm').submit(function (event) {
        event.preventDefault()
        let data = {}
        let form = $(this)
        $('[form=postForm]').each(function (index, element) {
            element = $(element)
            data[element.attr('name')] = element.val();

        })
        $.ajax(form.attr('action'), {
            method: form.attr('method'),
            data,
            success: function(response) {
                $('#table').append(response)
            }
        })
        // console.log(data)
    })
</script>