<form id="postForm" action="/index/createDoc" method="post">
    {% for field in formArray %}
    {{ field|raw }}
    {% endfor %}
    <button type="submit">Получить выгрузку</button>
</form>
<script>
    jQuery.datetimepicker.setLocale('ru');
    $.datetimepicker.setDateFormatter({
        parseDate: function (date, format) {
            let d = moment(date, format);
            return d.isValid() ? d.toDate() : false;
        },
        formatDate: function (date, format) {
            return moment(date).format(format);
        },
    });
    $('.has_datetimepicker').datetimepicker({
        format:'DD.MM.YYYY HH:mm',
        formatTime:'HH:mm',
        formatDate:'DD.MM.YYYY'
    })

</script>